{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Inscription
{% endblock %}

{% block menubar %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
    <p class="text-info text-center">Utilise cette application pour créer ton carnet d'adresses en ligne.</p>
{% endblock %}

{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
